.top-bar {
    display: flex;
    background-color: #282828;
    border-bottom: solid 1px #242424;
    align-items: center;
    justify-content: space-between;
    padding: 7px 250px;
    position: fixed;
    z-index: 1;
    width: 64%;
}

.top-bar .logo a {
    color: white;
    transition: 0.2s;
}

.top-bar .logo a:hover { 
    color: #de4c4a;
}

.search-bar i {
    color: rgba(255,255,255,0.87);
    padding: 0px 10px;
}

.quick-bar {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

.search {
    background: none;
    border: none;
    outline: none;
    color: rgba(255,255,255,0.87);
    width: 300px;
}

.search::placeholder {
    color: rgba(255,255,255,0.87);
}

.search-bar {
    cursor: text;
    display: flex;
    align-items: center;
    border-radius: 3px;
    height: 30px;
    border: 1px solid rgba(255,255,255,0.1);
}

.search:focus {
    width: 500px;
    transition: 0.4s;
}

.search:focus::placeholder {
    color: #808080;
}

.quick-add {
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

.quick-add span i{
    color: rgba(255,255,255,0.87);
    font-size: 20px;
    display: block;
}

.quick-add:hover {
    background: #535353;
}

.quick-add .add-tip {
    visibility: hidden;
    width: 120px;
    color: #171717;
    font-size: 13px;
    font-weight: bold;
    background: rgba(255,255,255,0.87);
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: -100%;
    opacity: 0;
    transition: opacity 0.2s;
}

.quick-add .add-tip::after {
    content: "";
    position: absolute;
    top: -38%;
    left: 44%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent rgba(255,255,255,0.87) transparent ;
}

.quick-add:hover .add-tip {
    visibility: visible;
    opacity: 1;
}

.left-menu {
    background: #282828;
    width: 250px;
    height: calc(100vh);
    position: fixed;
    left: 17%;
    padding-top: 75px;
}

.filter {
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.filter-icon i {
    color: #ffffffde;
    padding: 10px;
    font-size: 20px;
}

.filter-name {
    color: #ffffffde;
    font-size: 14px;
}

.filter:hover {
    background: #535353;
}

.active {
    font-weight: bold;
    background: #535353;
}

.content {
    height: calc(150vh);
    background: #1f1f1f;
    margin: 0 230px;
    margin-left: 480px;
    padding: 80px 10px 84px 39px;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 6px 0px;
}

.project-name {
    font-size: 20px;
    color:  #ffffffde;
}

.project-action {
    position: relative;
    cursor: pointer;
}

.project-action .action-button {
    color: #808080;
    font-size: 20px;
}

.project-action:hover .action-tip{
    visibility: visible;
    opacity: 1;
}

.action-tip {
    visibility: hidden;
    position: absolute;
    background: #ffffffde;
    border-radius: 2px;
    font-size: 13px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    top: 111%;
    left: -20%;
    opacity: 0;
    transition: opacity 0.2s;
}

.action-tip::before {
    content: "";
    position: absolute;
    top: -38%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #ffffffde transparent ;
}

.list-holder .checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #808080;
    border-radius: 50%;
    margin: 10px 14px 10px 0px;
    transition: 0.3s;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.list-holder .checkbox i {
    color: #de4c4a;
    font-size: 13px;
    opacity: 0;
    transition: 0.3s;
}

.list-holder .checkbox:hover {
    background: #282828;
}

.list-holder .checkbox:hover i {
    opacity: 1;
}

.list-holder .task-name {
    display: block;
    color: #ffffffde;
    width: 460px;
    cursor: text;
    font-size: 14px;
}

.list-holder .project-name {
    font-size: 11px;
    padding: 0 5px;
    color: rgba(255,255,255,0.6);
}

.list-holder .project-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-top: 4px;
    vertical-align: baseline;
    background: #b8b8b8;
}

.list-holder .action-button {
    color: #ffffffde;
    line-height: 50%;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;
    vertical-align: 40%;
    opacity: 0;
}

.list-holder table {
    border-spacing: 0px;
}

.list-holder table tr td:last-child {
    border: none;
}

.list-holder td {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 0px;
}

.list-holder table tr:hover td:last-child span {
    opacity: 1;
}

.list-holder table tr td:nth-child(3) {
    cursor: pointer;
}

.add-task {
    padding: 10px 0;
    cursor: pointer;
}

.add-task .add-icon {
    color: #de4c4a;
    display: inline-flex;
    height: 17px;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    transform: translateY(8px);
    vertical-align: 7px;
    width: 17px;
    border-radius: 17px;
}

.add-task .add-action {
    font-size: 14px;
    color: #808080;
    display: inline-block;
}

.add-task:hover .add-icon {
    color: #242424;
    background: #de4c4a;
}

.add-task:hover .add-action {
    color: #de4c4a;
}

.form {
    padding: 4px 0;
    margin-bottom: 9px;
}

.form .form-input {
    margin-bottom: 6px;
}

.form .form-input input{
    width: 530px;
    font-size: 14px;
    color: rgba(255,255,255,0.87);
    background: #171717;
    outline: none;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 3px;
    padding: 10px;
}

.form .form-action .form-submit {
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
    padding: 6px 12px 7px 12px;
    background: #de4c4a;
    border: none;
    border-radius: 3px;
    outline: none;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}

.form .form-action .form-cancel {
    color: #808080;
    background: none;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}

.form .form-action .form-cancel:hover {
    color: rgba(255,255,255,0.87);
    text-decoration: underline;
}

.add-modal {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.68);
}

.add-modal .add-modal-form {
    border: 1px solid #171717;
    position: relative;
    background: #1f1f1f;
    padding: 25px 30px 10px 30px;
    border-radius: 5px;
    margin-top: 75px;
    left: 25%;
    width: 550px;
}

.add-modal .add-modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.add-modal .add-modal-header span {
    display: block;
    color: rgba(255,255,255,0.87);
    font-size: 13px;
    font-weight: bold;
}

.add-modal .add-modal-header .close {
    cursor: pointer;
}

.add-modal .add-modal-header .close:hover {
    color: #fff;
}

.result {
    position: absolute;
    top: 93%;
    width: 534px;
    max-height: 193px;
    overflow: auto;
    background: #282828;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 2px #171717;
    cursor: default;
}

.result .type {
    border: 1px solid rgba(255,255,255,0.87);
    border-radius: 3px;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 10px;
}

.result .name {
    color: rgba(255,255,255,0.87);
    font-size: 14px;
    cursor: pointer;
}

.result table{
    width: 100%;
    border-spacing: 0;
}

.result table tr {
    cursor: pointer;
}

.result table tr:hover {
    background: #535353;
}

.result table tr td:first-child {
    width: 40px;
}

.result table tr td {
    padding: 5px 0px;
}

.result table tr td {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.result table tr:last-child td {
    border: none;
}
