.top-bar {
    display: flex;
    background-color: #282828;
    border-bottom: solid 1px #242424;
    align-items: center;
    justify-content: space-between;
    padding: 7px 250px;
    position: fixed;
    z-index: 10;
    width: 64%;
}

.top-bar .logo a {
    color: white;
    transition: 0.2s;
}

.top-bar .logo a:hover { 
    color: #de4c4a;
}

.search-bar i {
    color: rgba(255,255,255,0.87);
    padding: 0px 10px;
}

.search {
    background: none;
    border: none;
    outline: none;
    color: rgba(255,255,255,0.87);
    width: 300px;
}

.search::placeholder {
    color: rgba(255,255,255,0.87);
}

.search-bar {
    cursor: text;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #808080;
}

.search-bar:hover {
    background: #535353;
}

.search:focus {
    width: 500px;
    transition: 0.4s;
}

.search:focus::placeholder {
    color: #808080;
}

.quick-add {
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    cursor: pointer;
}

.quick-add span i{
    color: rgba(255,255,255,0.87);
    font-size: 20px;
    display: block;
}

.quick-add:hover {
    background: #535353;
}

.quick-add .add-tip {
    visibility: hidden;
    width: 120px;
    color: #171717;
    font-size: 13px;
    font-weight: bold;
    background: rgba(255,255,255,0.87);
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: -100%;
    opacity: 0;
    transition: opacity 0.2s;
}

.quick-add .add-tip::after {
    content: "";
    position: absolute;
    top: -38%;
    left: 44%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent rgba(255,255,255,0.87) transparent ;
}

.quick-add:hover .add-tip {
    visibility: visible;
    opacity: 1;
}

.left-menu {
    background: #282828;
    width: 250px;
    height: calc(100vh);
    position: fixed;
    left: 17%;
    padding-top: 75px;
}

.filter {
    display: flex;
    align-items: center;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.filter-icon i {
    color: #ffffffde;
    padding: 10px;
    font-size: 20px;
}

.filter-name {
    color: #ffffffde;
    font-size: 14px;
}

.filter:hover {
    background: #535353;
}

.active {
    font-weight: bold;
    background: #535353;
}

.content {
    height: calc(150vh);
    background: #1f1f1f;
    margin: 0 230px;
    margin-left: 480px;
    padding: 80px 10px 84px 39px;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 6px 0px;
}

.project-name {
    font-size: 20px;
    color:  #ffffffde;
}

.project-action {
    position: relative;
    cursor: pointer;
}

.project-action .action-button {
    color: #808080;
    font-size: 20px;
}

.project-action:hover .action-tip{
    visibility: visible;
    opacity: 1;
}

.action-tip {
    visibility: hidden;
    position: absolute;
    background: #ffffffde;
    border-radius: 2px;
    font-size: 13px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
    top: 111%;
    left: -20%;
    opacity: 0;
    transition: opacity 0.2s;
}

.action-tip::before {
    content: "";
    position: absolute;
    top: -38%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #ffffffde transparent ;
}

.list-holder .checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #808080;
    border-radius: 50%;
    margin: 10px 14px 10px 0px;
    transition: 0.3s;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.list-holder .checkbox i {
    color: #de4c4a;
    font-size: 13px;
    opacity: 0;
    transition: 0.3s;
}

.list-holder .checkbox:hover {
    background: #282828;
}

.list-holder .checkbox:hover i {
    opacity: 1;
}

.list-holder .task-name {
    display: block;
    color: #ffffffde;
    width: 520px;
    cursor: text;
}

.list-holder .action-button {
    color: #ffffffde;
    line-height: 50%;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}