body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282828;
  box-sizing: border-box;
<<<<<<< HEAD
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #171717;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8b8b8b;
  cursor: default;
=======
>>>>>>> 21a6486be9769b38dd74b7f4d2da28d9f6b03d90
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
