html {
  background: #282828;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #171717;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8b8b8b;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  background: #282828;
  position: absolute;
  width: 100vw;
  height: 100vh;
  visibility: visible;
}

.loader .loader-icon {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 2em;
  height: 2em;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

.loader--hide {
  opacity: 0;
  visibility: hidden;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
